<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Image</key>
		<string>1.jpg</string>
		<key>Name</key>
		<string>Dmitrij</string>
		<key>SubName</key>
		<string>Potapov</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>2.jpg</string>
		<key>Name</key>
		<string>Artem</string>
		<key>SubName</key>
		<string>Cherneckij</string>
	</dict>
</array>
</plist>
